<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module">
        import {Parser} from "./Parser.js";
        import {_c_, _t_, _v_, compile, h, render} from "../VirtualDom3"

        let parser = new Parser();
        let parse = parser.parser(document.querySelector("#app").outerHTML);
        let call = new Function(`with(this){return ${h(parse)}}`).call({_v_, _t_, _c_});
        compile(call,
                {
                    array: [[1,2,3], [1,2]]
                },
                undefined,
                -1);
        let render1 = render(call);
        console.log(render1)

    </script>
</head>
<body>
<div id="app">
    <div v-for="item in array">
       <p v-for="it in item">
           {{item}}
       </p>
    </div>
</div>

</body>
</html>
