<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module">
        import {Parser} from "./Parser.js";
        import {_c_, _t_, _v_, compile, diff, h, render} from "../VirtualDom3"
        import {isFunction, isString} from "../util";

        let parser = new Parser();
        let element = document.querySelector("#app");
        let parse = parser.parser(element.outerHTML);
        let call = new Function(`with(this){return ${h(parse)}}`).call({_v_, _t_, _c_});
        const messageEvent = []
        const context = {
            array: [{id: 2, block: "blue", value: 12},
                    {id: 1, block: "red", value: 11}],
            show : false,
        };
        compile(call,
                context
        );
        let render1 = render(call);
        console.log(context);
        let parentElement = element.parentElement;
        parentElement.appendChild(render1);
        parentElement.removeChild(element);
        let call_1 = new Function(`with(this){return ${h(parse)}}`).call({_v_, _t_, _c_});
        compile(call_1,
                {
                    array: [{id: 1, block: "red", value: 13},
                            {id: 2, block: "green", value: 12}],
                    show : false
                });
        document.querySelector("#btn")
                .addEventListener("click",
                                  () => {
                                      diff(call.elm,
                                           call.children,
                                           call_1.children);
                                  });
    </script>
</head>
<body>
<div id="app">
    <!--    (12-->  21
    <!--    sd-->
    <input>
    <img/>
    <div :key="item.id" :ref="(r)=>item.e=r"
         :style="{background:item.block}"
         async
         style="color:yellow"
         v-for="(item,index) in array">
        <p :ref="o"> {{item.value}}</p>
    </div>
    <div v-if="show">
        if
    </div>
    <div v-else>
        else
    </div>
</div>
<button id="btn">更新</button>
<div id="write"></div>
</body>
</html>
